<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="log4net.Config" value="Log4Net.config" />
  </appSettings>
  
  <connectionStrings>
    <add name="DBConnection" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EDIRouterServiceImplServiceSoapBinding" />
        <binding name="OrderWebServiceImplServiceSoapBinding" />
        <binding name="CheckIdentityServiceImplServiceSoapBinding" />
        <binding name="UploadImageServiceImplServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="EDIRouterServiceImplServiceSoapBinding" contract="RouterWebService.EDIRouterService" name="EDIRouterServiceImplPort" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="OrderWebServiceImplServiceSoapBinding" contract="EDIOrderWebService.OrderWebService" name="OrderWebServiceImplPort" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CheckIdentityServiceImplServiceSoapBinding" contract="IdCopyCheckService.CheckIdentityService" name="CheckIdentityServiceImplPort" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="UploadImageServiceImplServiceSoapBinding" contract="UploadImageService.IUploadImageService" name="UploadImageServiceImplPort" />
    </client>
  </system.serviceModel>
</configuration>