<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DBConnection" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint name="EDIRouterServiceImplPort" address="http://osms.sf-express.comosms.sit.sf-express.com:2080/osms/services/EDIRouterService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="OrderWebServiceImplPort" address="http://osms.sit.sf-express.com:2080/osms/services/OrderWebService"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint name="CheckIdentityServiceImplPort" address="http://osms.sit.sf-express.com:2080/osms/services/checkIdentityService"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint name="UploadImageServiceImplPort" address="http://osms.sit.sf-express.com:2080/osms/services/UploadImageService"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>